@charset "utf-8";
/* CSS Document */

body
{ background-image:url(../images/background.jpg);
background-attachment:fixed;
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
 margin:0px;}

.main_layout
{ width:960px; height:1905px; margin:0px auto; background-color:#;}

.header
{ width:960px; height:80px; margin:0px; float:left; background:}


.header_logo_box
{ width:250px; height:80px; margin:0px 5px 0px 0px; float:left; background: url(../images/LOGO.png) no-repeat;}

.menu
{ width:700px; height:40px; margin:20px 0px 0px 0px; float:left; background-color:;}


.slider
{ width:960px; height:420px; margin:0px 0px 5px 0px; float:left; background:url(../images/slide5.jpg) no-repeat;}

.fade{ width:960px; height:420px; margin:0px 0px 0px 0px; float:left; background-color:rgba(51,51,51,.5);}

.property_search
{ width:960px; height:100px; margin:290px 0px 5px 0px; float:left; background-color:#;}

.text_msg
{ width:400px; height:100px; margin:120px 0px 0px 250px; float:left; background-color:;
font-weight:bolder; font-size:30px; text-align:center; color:rgba(255,255,255,1); font-family: 'Playfair Display', serif;}

.city_searchbox
{ width:170px; height:40px; margin:30px 5px 0px 32px; float: left; background:#FFF;}
#city
{ width:170px; height:40px; background-color:#; font-weight:bold; font-size:12px;}

.location_searchbox
{ width:170px; height:40px; margin:30px 5px 0px 0px; float: left; background:#FFF;}
#location
{ width:170px; height:40px; background-color:#; margin:0px 0px 0px 0px;}

.min_searchbox
{ width:170px; height:40px; margin:30px 5px 0px 0px; float: left; background:#FFF;}
#min
{ width:170px; height:41px; background:#;}

.max_searchbox
{ width:170px; height:40px; margin:30px 5px 0px 0px; float: left; background:#FFF;}

#max
{ width:170px; height:41px; background:#;}


.searchbox
{ width:200px; height:40px; margin:30px 5px 0px 0px; float: left; background:#FFF;}


 
input[type=text1] {
	
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    background-color:#f2f2f2;
    background:url(../images/searchicon.png) right no-repeat;
   	height:40px;
	padding-right:30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text1]:focus {
    width:200px; margin:;
}


.amf-title
{ width:900px; height:40px; margin:0px 30px 10px 30px; float:left; background-color:
font-weight:bold; font-size:20px; text-indent:20px; color:#333; line-height:40px; font-family: 'Open Sans Condensed', sans-serif;}

.main-entrance-text
{ width:880px; height:150px; margin:0px 30px 10px 30px; float:left; background-color:
font-weight:lighter; font-size:14px; text-align:justify; color:#333; font-family: 'Open Sans Condensed', sans-serif; padding-left:20px;}

.internal-text
{ width:880px; height:100px; margin:0px 30px 10px 30px; float:left; background-color:
font-weight:lighter; font-size:14px; text-align:justify; color:#333; font-family: 'Open Sans Condensed', sans-serif; padding-left:20px;}

.floors-text
{ width:880px; height:80px; margin:0px 30px 10px 30px; float:left; background-color:
font-weight:lighter; font-size:14px; text-align:justify; color:#333;  font-family: 'Open Sans Condensed', sans-serif; padding-left:20px;}

.windows-text
{ width:880px; height:90px; margin:0px 30px 10px 30px; float:left; background-color:
font-weight:lighter; font-size:14px; text-align:justify; color:#333;  font-family: 'Open Sans Condensed', sans-serif; padding-left:20px;}

.paintings-text
{ width:880px; height:120px; margin:0px 30px 10px 30px; float:left; background-color:;
font-weight:lighter; font-size:14px; text-align:justify; color:#333;  font-family: 'Open Sans Condensed', sans-serif; padding-left:20px;}

.electrical-text
{ width:880px; height:120px; margin:0px 30px 10px 30px; float:left; background-color:;
font-weight:lighter; font-size:14px; text-align:justify; color:#333;  font-family: 'Open Sans Condensed', sans-serif; padding-left:20px;}
.t-text
{ width:880px; height:120px; margin:0px 30px 10px 30px; float:left; background-color:;
font-weight:lighter; font-size:14px; text-align:justify; color:#333;  font-family: 'Open Sans Condensed', sans-serif; padding-left:20px;}

.kitchen-text
{ width:880px; height:80px; margin:0px 30px 10px 30px; float:left; background-color:;
font-weight:lighter; font-size:14px; text-align:justify; color:#333;  font-family: 'Open Sans Condensed', sans-serif; serif; padding-left:20px;}

.security-text
{ width:880px; height:80px; margin:0px 30px 10px 30px; float:left; background-color:;
font-weight:lighter; font-size:14px; text-align:justify; color:#333;  font-family: 'Open Sans Condensed', sans-serif; serif; padding-left:20px;}

.power-supply-text
{ width:880px; height:80px; margin:0px 30px 10px 30px; float:left; background-color:#;
font-weight:lighter; font-size:14px; text-align:justify; color:#333;  font-family: 'Open Sans Condensed', sans-serif; padding-left:20px;}

.reservoir-text
{ width:880px; height:60px; margin:0px 30px 0px 30px; float:left; background-color:#;
font-weight:lighter; font-size:14px; text-align:justify; color:#333; font-family: 'Open Sans Condensed', sans-serif; padding-left:20px;}


.footer
{ width:900px; height:250px; margin:0px 30px 0px 30px; float:left; background:url(../images/footer.jpg) no-repeat;}

.footer_fade
{ width:900px; height:250px; margin:0px 0px 0px 0px; float:left; background: rgba(0,0,0,.5);}

.footer_left
{ width:250px; height:200px; margin:5px 25px 0px 45px; float:left; background:#;}
.follow_us
{ width:250px; height:35px; margin:0px 0px 10px 0px; float:left; background-color:#;
font-weight:bolder; font-size:22px; color:#FFF; line-height:35px; text-indent:20px; font-family: 'Kelly Slab', cursive;}
.icon_box
{ width:250px; height:30px; margin:0px 0px 10px 0px; float:left; background-color:;}

.fb_icon
{ width:30px; height:30px; margin:0px 3px 0px 10px; float:left; background-color:;
border-radius:20px; transition:2s;}
.fb_icon:hover{ background:#066;}
.twitter_icon
{ width:30px; height:30px; margin:0px 3px 0px 0px; float:left; background-color:#;
border-radius:20px; transition:2s;}
.twitter_icon:hover{ background:#066;}
.google_icon
{ width:30px; height:30px; margin:0px 3px 0px 0px; float:left; background-color:#;
border-radius:20px; transition:2s;}
.google_icon:hover{ background:#066;}
.linkedin_icon
{ width:30px; height:30px; margin:0px 3px 0px 0px; float:left; background-color:#;
border-radius:20px; transition:2s;}
.linkedin_icon:hover{ background:#066;}
.youtube_icon
{ width:30px; height:30px; margin:0px 3px 0px 0px; float:left; background-color:#;
border-radius:20px; transition:2s;}
.youtube_icon:hover{ background:#066;}
.pinterest_icon
{ width:30px; height:30px; margin:0px 3px 0px 0px; float:left; background-color:#;
border-radius:20px; transition:2s;}
.pinterest_icon:hover{ background:#066;}
.rss_icon
{ width:30px; height:30px; margin:0px 0px 0px 0px; float:left; background-color:#;
border-radius:20px; transition:2s;}
.rss_icon:hover{ background:#066;}

#fb{ font-size:18px; color:#FFF; margin-left:9px; margin-top:6px;}
#twitter{ font-size:18px; color:#FFF; margin-left:7px; margin-top:5px;}
#google{ font-size:16px; color:#FFF; margin-left:6px; margin-top:7px;}
#linkedin{ font-size:18px; color:#FFF; margin-left:7px; margin-top:5px;}
#youtube{ font-size:18px; color:#FFF; margin-left:7px; margin-top:5px;}
#pinterest{ font-size:18px; color:#FFF; margin-left:7px; margin-top:6px;}
#rss{ font-size:18px; color:#FFF; margin-left:9px; margin-top:6px;}

.copyright
{ width:250px; height:40px; margin:0px 0px 0px 0px; float:left; background-color:#;
font-weight:lighter; font-size:12px; color:#FFF; line-height:40px;  text-indent:20px; font-family: 'Kelly Slab', cursive;
}

.footer_center
{ width:250px; height:200px; margin:5px 25px 0px 0px; float:left; background:;}

.quick_link
{ width:250px; height:35px; margin:0px 0px 10px 0px; float:left; background:;
font-weight:bolder; font-size:22px; color:#FFF; line-height:40px; text-indent:20px; font-family: 'Kelly Slab', cursive;}

.quick_link_text
{ width:230px; height:100px; margin:0px 0px 0px 0px; float:left; background:;
font-weight: lighter; font-size:16px; color:#FFF; padding-left:20px; line-height:20px;}

.quick_link_text a{ text-decoration:none; color:#FFF; font-family: 'Kelly Slab', cursive;}

.footer_right
{ width:250px; height:200px; margin:5px 0px 0px 0px; float:left; background:#;}

.address_title
{width:250px; height:35px; margin:0px 0px 10px 0px; float:left; background:#;
font-weight:bolder; font-size:22px; color:#FFF; line-height:35px; text-indent:20px; font-family: 'Kelly Slab', cursive;}

.address_icon
{ width:30px; height:30px; margin:0px 0px 0px 0px; float:left; background:#;}
.address_box
{ width:250px; height:60px; margin:0px 0px 0px 0px; float:left; background-color:#;
}
.address_text
{ width:200px; height:60px; margin:0px 0px 0px 0px; float:left; background-color:#;
font-weight: lighter; font-size:14px; color:#FFF; font-family: 'Kelly Slab', cursive;}


.phone_icon
{ width:30px; height:30px; margin:0px 0px 0px 0px; float:left; background:#;}
.phone_box
{ width:250px; height:60px; margin:0px 0px 0px 0px; float:left; background-color:#;}
.phone_text
{ width:200px; height:60px; margin:0px 0px 0px 0px; float:left; background-color:#;
font-weight:lighter; font-size:14px; color:#FFF;}

#map{ font-size:18px; color:#FFF; margin-left:8px; margin-top:6px;}
#phone{ font-size:18px; color:#FFF; margin-left:6px; margin-top:6px;}

.designer
{ width:900px; height:30px; margin:5px 0px 0px 0px; float:left; background-color:#;
font-weight:lighter; font-size:14px; color:#FFF; line-height:30px; text-align:center; font-family: 'Kelly Slab', cursive;}
















